on: [push]
jobs:
  build_latex:
    name: Build draft PDF
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v3
      - name: Build
        uses: xu-cheng/texlive-action/full@v1
        with:
          run: |
            apk add make git coreutils
            git config --global --add safe.directory $(pwd)
            make draft
      - name: Upload PDF
        uses: actions/upload-artifact@v3
        with:
          name: pdf
          path: p.pdf
